Repository woowa-techcamp-2020/bmart-4, pull requests merged in 2020-08, with the labels that each got.

#2 Client configuration
  .gitignore
  client/.eslintrc.js
  client/.gitignore
  client/.prettierrc
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.tsx
  client/src/index.css
  client/src/index.tsx
  client/src/react-app-env.d.ts
  client/tsconfig.json
Labels: client, config

#3 Feature/client/main skeleton
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/Carousel/Carousel.tsx
  client/src/components/Carousel/index.ts
  client/src/components/HorizontalScroll/HorizontalScroll.tsx
  client/src/components/HorizontalScroll/ProductCard.tsx
  client/src/components/HorizontalScroll/ProductCardList.tsx
  client/src/components/HorizontalScroll/index.ts
  client/src/index.css
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/MainDashboard/index.ts
  client/src/styles/StyledWrapper.ts
  client/src/utils/parser.ts
  client/src/utils/styleConstants.ts
Labels: client, components

#17 feat: ProductCard 컴포넌트 구현
  client/src/components/HorizontalScroll/HorizontalScroll.tsx
  client/src/components/HorizontalScroll/ProductCard.tsx
  client/src/components/HorizontalScroll/ProductCardList.tsx
  client/src/components/ProductCard/ProductCard.tsx
  client/src/components/ProductCard/index.ts
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/types/productCard.ts
Labels: components, feature

#18 Feature/component/product list
  client/src/components/HorizontalList/HorizontalList.tsx
  client/src/components/HorizontalList/ProductCardList.tsx
  client/src/components/HorizontalList/index.ts
  client/src/components/HorizontalScroll/index.ts
  client/src/components/ProductCard/ProductCard.tsx
  client/src/components/VerticalList/VerticalList.tsx
  client/src/components/VerticalList/index.ts
  client/src/pages/MainDashboard/MainDashboard.tsx
Labels: client, components

#20 Feature/component/carousel
  client/public/images/big/1.jpg
  client/public/images/big/2.jpg
  client/public/images/big/3.gif
  client/public/images/big/4.jpg
  client/public/images/bmart-icon.png
  client/public/images/small/1.jpg
  client/public/images/small/2.jpg
  client/public/images/small/3.jpg
  client/public/images/small/4.jpg
  client/public/index.html
  client/public/manifest.json
  client/src/components/Carousel/Carousel.tsx
  client/src/index.css
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/styles/StyledWrapper.ts
  client/src/types/banner.ts
  client/src/utils/constants.ts
  client/src/utils/mockData.ts
Labels: client, components

#22 Feature/client/footer component
  client/src/components/Footer/Footer.spec.tsx
  client/src/components/Footer/Footer.tsx
  client/src/components/Footer/index.ts
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/utils/constants.ts
Labels: client, components, feature, test

#21 Feature/server/product list by category graphql
  server/app.js
  server/db.js
  server/package.json
  server/src/resolver.js
  server/src/schema.js
  server/src/type.js
Labels: feature, server

#24 Feature/client/fetch graphql apollo
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/apis/graphqlQuery.ts
  client/src/components/ProductCard/ProductCard.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/types/Product.ts
  client/src/types/productCard.ts
  client/src/utils/apolloClient.ts
  client/src/utils/constants.ts
  client/src/utils/mockData.ts
  server/src/resolver.js
  server/src/type.js
Labels: client, feature

#26 Feature/client/header
  client/package-lock.json
  client/package.json
  client/public/images/bmart-icon.png
  client/public/images/bmart-logo.png
  client/src/components/Header/Header.spec.tsx
  client/src/components/Header/Header.tsx
  client/src/components/Header/index.ts
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/setupTests.ts
Labels: client, components

#27 refactor: enzyme을 사용해서 footer component 단위테스트 리팩토링
  client/package-lock.json
  client/src/components/Footer/Footer.spec.tsx
Labels: client, test

#30 Feature/client/navbar component
  client/public/images/navbar-icon/cart.svg
  client/public/images/navbar-icon/favorite.svg
  client/public/images/navbar-icon/history.svg
  client/public/images/navbar-icon/home.svg
  client/public/images/navbar-icon/search.svg
  client/src/components/Footer/Footer.spec.tsx
  client/src/components/Footer/Footer.tsx
  client/src/components/Header/Header.spec.tsx
  client/src/components/Navbar/Navbar.spec.tsx
  client/src/components/Navbar/Navbar.tsx
  client/src/components/Navbar/index.ts
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/utils/constants.ts
Labels: client, components, feature, test

#32 chore: server에서 client build 파일을 static으로 제공
  .gitignore
  client/src/utils/constants.ts
  server/app.js
Labels: server

#33 Feature/client/categories
  client/src/components/Footer/Footer.tsx
  client/src/components/Header/Header.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/CategoryListSection.tsx
  client/src/pages/MainDashboard/CategoryListSectionHeader.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/utils/constants.ts
  client/src/utils/styleConstants.ts
Labels: client, components

#36 feat: client에 development, production 환경변수 분리
  build.sh
  client/.sample.env.development
  client/.sample.env.production
  client/src/utils/constants.ts
  server/.sample.env.dev
  server/.sample.env.prod
  server/app.js
Labels: DevOps, bug, client, config, server

#31 Feat/component/category list
  client/public/images/icons/bmart-logo.png
  client/public/images/icons/bread.png
  client/public/images/icons/choco.png
  client/public/images/icons/egg.png
  client/public/images/icons/hair.png
  client/public/images/icons/ice.png
  client/public/images/icons/main-bmart.png
  client/public/images/icons/main-bread.png
  client/public/images/icons/main-choco.png
  client/public/images/icons/main-egg.png
  client/public/images/icons/main-hair.png
  client/public/images/icons/main-ice.png
  client/public/images/icons/main-mealkit.png
  client/public/images/icons/main-milk.png
  client/public/images/icons/main-salad.png
  client/public/images/icons/main-yasik.png
  client/public/images/icons/mealkit.png
  client/public/images/icons/milk.png
  client/public/images/icons/more.png
  client/public/images/icons/salad.png
  client/public/images/icons/yasik.png
  client/src/App.tsx
  client/src/components/CategoryList/CategoryList.tsx
  client/src/components/CategoryList/index.ts
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/utils/constants.ts
Labels: client, components

#40 Feature/server/elasticsearch
  .github/workflows/delivery.yml
  .github/workflows/github_action.yml
  .github/workflows/integration.yml
  server/.sample.env.dev
  server/.sample.env.prod
  server/app.js
  server/config/elasticsearch-config.js
  server/http/es-request.http
  server/package-lock.json
  server/package.json
  server/src/elasticsearch-controller.js
  server/src/product-search-dto.js
  server/src/route.js
Labels: config, feature, server

#46 Feat/client/category dashboard
  client/src/App.tsx
  client/src/components/CategoryList/CategoryList.tsx
  client/src/components/Filter/Filter.tsx
  client/src/components/Filter/index.ts
  client/src/components/Header/Header.spec.tsx
  client/src/components/Header/Header.tsx
  client/src/pages/CategoryDashboard/CategoryDashboard.tsx
  client/src/pages/CategoryDashboard/index.ts
  client/src/pages/MainDashboard/CategoryListSection.tsx
  client/src/pages/MainDashboard/CategoryListSectionHeader.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/types/routeProps.ts
  client/src/utils/constants.ts
  client/src/utils/parser.ts
Labels: client, components

#47 Feature/server/wish list
  server/.eslintrc.json
  server/.prettierrc
  server/src/get-product-dto.js
  server/src/product-search-dto.js
  server/src/resolver.js
  server/src/schema.js
  server/src/type.js
Labels: feature, server

#52 Feature/server/cart
  server/.eslintrc.json
  server/src/errors/error-type.js
  server/src/errors/index.js
  server/src/get-product-dto.js
  server/src/resolver.js
  server/src/route.js
  server/src/schema.js
  server/src/type.js
Labels: feature, server

#57 Feature/client/page
  client/src/App.tsx
  client/src/apis/graphqlQuery.ts
  client/src/components/CategoryList/CategoryList.tsx
  client/src/components/Dashboard/Dashboard.tsx
  client/src/components/Dashboard/index.ts
  client/src/components/LoadingIndicator/LoadingIndicator.tsx
  client/src/components/LoadingIndicator/index.ts
  client/src/components/Navbar/Navbar.tsx
  client/src/pages/CategoryDashboard/CategoryDashboard.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  client/src/utils/parser.ts
Labels: client, components

#55 Feature/client/product detail page
  .github/workflows/delivery.yml
  client/src/components/CarouselBasic/CarouselBasic.tsx
  client/src/components/CarouselBasic/index.ts
  client/src/components/OrderModal/OrderModal.tsx
  client/src/components/OrderModal/index.ts
  client/src/components/ProductCard/ProductCard.spec.tsx
  client/src/components/ProductCard/ProductCard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  client/src/types/productCard.ts
  client/src/utils/constants.ts
  client/src/utils/mockData.ts
  server/config/config.js
  server/config/elasticsearch-config.js
  server/package.json
Labels: client, components, feature

#59 Feat/component/sorter
  client/src/apis/graphqlQuery.ts
  client/src/components/Filter/Filter.tsx
  client/src/components/Filter/index.ts
  client/src/components/Sorter/Sorter.tsx
  client/src/components/Sorter/SorterContext.tsx
  client/src/components/Sorter/index.ts
  client/src/components/VerticalList/VerticalList.tsx
  client/src/pages/CategoryDashboard/CategoryDashboard.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/CategoryListSection.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/utils/constants.ts
  server/db.js
  server/src/resolver.js
  server/src/schema.js
Labels: client, components, feature

#61 Feature/server/product detail img graphql
  client/src/apis/graphqlQuery.ts
  client/src/components/Dashboard/Dashboard.tsx
  client/src/components/OrderModal/OrderModal.tsx
  client/src/components/ProductCard/ProductCard.spec.tsx
  client/src/components/ProductCard/ProductCard.tsx
  client/src/pages/CategoryDashboard/CategoryDashboard.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  server/sql_scripts/createTables.sql
  server/sql_scripts/removeDuplicate.sql
  server/src/dto/get-product-detail-dto.js
  server/src/dto/get-product-dto.js
  server/src/dto/product-search-dto.js
  server/src/elasticsearch-controller.js
  server/src/resolver/cart-resolver.js
  server/src/resolver/like-resolver.js
  server/src/resolver/product-resolver.js
  server/src/route.js
  server/src/schema/mutation.js
  server/src/schema/query.js
  server/src/schema/schema.js
  server/src/type.js
Labels: client, feature, server

#66 Feature/client/order modal add to cart
  client/src/apis/graphqlQuery.ts
  client/src/components/CarouselBasic/CarouselBasic.tsx
  client/src/components/OrderModal/OrderModal.tsx
  client/src/components/ProductCard/ProductCard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  client/src/types/productCard.ts
  client/src/utils/mockData.ts
Labels: client, feature

#65 Feature/client/cart
  client/public/images/tung.png
  client/src/App.tsx
  client/src/apis/graphqlQuery.ts
  client/src/components/Carousel/Carousel.tsx
  client/src/components/CarouselBasic/CarouselBasic.tsx
  client/src/components/Confirm/Confirm.tsx
  client/src/components/Confirm/index.ts
  client/src/components/Dashboard/Dashboard.tsx
  client/src/components/Header/Header.tsx
  client/src/components/Navbar/Navbar.spec.tsx
  client/src/components/Navbar/Navbar.tsx
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CartDashboard/CartDashboardBill.tsx
  client/src/pages/CartDashboard/CartDashboardFooter.tsx
  client/src/pages/CartDashboard/CartDashboardHeader.tsx
  client/src/pages/CartDashboard/CartDashboardOrderButton.tsx
  client/src/pages/CartDashboard/CartDashboardOrderList.tsx
  client/src/pages/CartDashboard/NotFound.tsx
  client/src/pages/CartDashboard/OrderCard.tsx
  client/src/pages/CartDashboard/index.ts
  client/src/pages/MainDashboard/CategoryListSection.tsx
  client/src/utils/constants.ts
  client/src/utils/styleConstants.ts
  server/src/resolver/cart-resolver.js
  server/src/schema/mutation.js
Labels: client, feature

#69 feat: 카트 내 상품을 누르면 해당 상품의 상세 페이지로 이동할 수 있도록 함
  client/src/apis/graphqlQuery.ts
  client/src/pages/CartDashboard/OrderCard.tsx
Labels: client

#75 fix: 두번째 이후 주문했을 때 CartDashboard의 뷰가 업데이트 되지 않는 버그 수정
  client/src/pages/CartDashboard/CartDashboard.tsx
Labels: bug

#86 Feature/client/search page
  .github/workflows/delivery.yml
  client/src/App.tsx
  client/src/components/ProductCard/ProductCard.tsx
  client/src/pages/SearchDashboard/SearchDashboard.tsx
  client/src/pages/SearchDashboard/index.ts
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
  client/src/pages/SearchResultDashboard/index.ts
  client/src/utils/constants.ts
  server/http/es-request.http
  server/src/dto/product-search-dto.js
  server/src/elasticsearch-controller.js
  server/src/route.js
  server/src/util/constants.js
Labels: client, feature

#85 Feat/client/category infinite scroll
  client/src/apis/graphqlQuery.ts
  client/src/components/Sorter/SorterContext.tsx
  client/src/pages/CategoryDashboard/CategoryDashboard.tsx
  client/src/pages/CategoryDashboard/ProductBlock.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/utils/constants.ts
  server/src/resolver/product-resolver.js
  server/src/schema/mutation.js
  server/src/schema/query.js
Labels: client, components, feature

#87 fix: searchResultDashboard sorter 기능 버그 수정
  .github/workflows/delivery.yml
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
Labels: bug, client

#89 Feature/user auth
  .github/workflows/delivery.yml
  client/.sample.env.development
  client/.sample.env.production
  client/src/App.tsx
  client/src/apis/graphqlQuery.ts
  client/src/pages/LoginDashboard/LoginDashboard.tsx
  client/src/pages/LoginDashboard/index.ts
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/utils/apolloClient.ts
  client/src/utils/constants.ts
  server/.sample.env.dev
  server/.sample.env.prod
  server/app.js
  server/config/passport-config.js
  server/package-lock.json
  server/package.json
  server/src/model/user.js
  server/src/resolver/cart-resolver.js
  server/src/resolver/like-resolver.js
  server/src/resolver/product-resolver.js
  server/src/route.js
  server/src/route/auth-router.js
  server/src/route/route.js
  server/src/schema/mutation.js
  server/src/schema/query.js
  server/src/util/auth.js
Labels: client, feature, server

#91 Feature/client/style
  client/public/fonts/Icons/Icons-Regular.eot
  client/public/fonts/Icons/Icons-Regular.ttf
  client/public/fonts/Icons/Icons-Regular.woff
  client/public/fonts/Icons/Icons-Regular.woff2
  client/public/images/bmart-title.png
  client/public/index.html
  client/src/components/CarouselBasic/CarouselBasic.tsx
  client/src/components/CategoryList/CategoryList.tsx
  client/src/components/Checkbox/Checkbox.tsx
  client/src/components/Checkbox/index.ts
  client/src/components/Dashboard/Dashboard.tsx
  client/src/components/Header/Header.spec.tsx
  client/src/components/Header/Header.tsx
  client/src/components/HorizontalList/HorizontalList.tsx
  client/src/components/Navbar/Navbar.tsx
  client/src/components/OrderButton/OrderButton.tsx
  client/src/components/OrderButton/index.ts
  client/src/components/ProductCard/ProductCard.tsx
  client/src/components/Sorter/Sorter.tsx
  client/src/components/VerticalList/VerticalList.tsx
  client/src/index.css
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CartDashboard/CartDashboardHeader.tsx
  client/src/pages/CartDashboard/CartDashboardOrderButton.tsx
  client/src/pages/CartDashboard/OrderCard.tsx
  client/src/pages/MainDashboard/CategoryListSectionHeader.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  client/src/pages/SearchDashboard/SearchDashboard.tsx
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
  client/src/styles/StyledWrapper.ts
  client/src/utils/constants.ts
  client/src/utils/styleConstants.ts
Labels: client, components

#93 fix: 수정된 user 스키마에 따른 sql script 수정
  server/config/passport-config.js
  server/sql_scripts/createTables.sql
Labels: DevOps

#94 chore: use https instead of http
  server/src/dto/get-product-detail-dto.js
  server/src/dto/get-product-dto.js
  server/src/dto/product-search-dto.js
Labels: enhancement

#95 chore: use https for Categories thumbnail
  client/src/utils/constants.ts
Labels: enhancement

#101 Feat/client/auth context
  client/src/App.tsx
  client/src/components/OrderModal/OrderModal.tsx
  client/src/context/AuthContext.tsx
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CategoryDashboard/CategoryDashboard.tsx
  client/src/pages/LoginDashboard/LoginDashboard.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  client/src/pages/SearchDashboard/SearchDashboard.tsx
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
  client/src/routes/PrivateRoute.tsx
  server/src/model/user.js
Labels: client, components, feature

#102 Order 테이블에 레코드가 없는 경우 핸들링 로직 추가
  client/src/routes/PrivateRoute.tsx
  server/src/resolver/cart-resolver.js
Labels: bug, server

#108 Style/login dashboard
  client/public/images/back.jpeg
  client/public/images/bmart_rider.png
  client/public/images/pre.png
  client/public/images/signin.png
  client/src/pages/LoginDashboard/LoginDashboard.tsx
Labels: client, components, enhancement

#110 Feature/server/pay mutation
  client/src/apis/graphqlQuery.ts
  client/src/pages/CartDashboard/CartDashboardOrderButton.tsx
  client/src/utils/constants.ts
  server/src/errors/error-type.js
  server/src/errors/index.js
  server/src/resolver/cart-resolver.js
  server/src/resolver/like-resolver.js
  server/src/resolver/order-resolver.js
  server/src/resolver/product-resolver.js
  server/src/route/route.js
  server/src/schema/mutation.js
  server/src/schema/query.js
  server/src/type.js
Labels: client, feature, server

#109 Feature/client/like
  client/src/App.tsx
  client/src/apis/graphqlQuery.ts
  client/src/components/CarouselBasic/CarouselBasic.tsx
  client/src/components/HorizontalList/HorizontalList.spec.tsx
  client/src/components/HorizontalList/__snapshots__/HorizontalList.spec.tsx.snap
  client/src/components/Navbar/Navbar.tsx
  client/src/components/OrderButton/OrderButton.tsx
  client/src/components/OrderModal/OrderModal.tsx
  client/src/components/ProductCard/ProductCard.spec.tsx
  client/src/components/ProductCard/ProductCard.tsx
  client/src/components/ProductCard/__snapshots__/ProductCard.spec.tsx.snap
  client/src/components/Sorter/Sorter.tsx
  client/src/components/Sorter/SorterContext.tsx
  client/src/components/VerticalList/VerticalList.spec.tsx
  client/src/components/VerticalList/__snapshots__/VerticalList.spec.tsx.snap
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CategoryDashboard/CategoryDashboard.tsx
  client/src/pages/CategoryDashboard/ProductBlock.tsx
  client/src/pages/LikedProductDashboard/LikedProductDashboard.tsx
  client/src/pages/LikedProductDashboard/index.ts
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/CategoryListSectionHeader.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
  client/src/types/productCard.ts
  client/src/types/sort.ts
  client/src/utils/constants.ts
  client/src/utils/mockData.ts
  server/src/resolver/product-resolver.js
  server/src/schema/query.js
Labels: client, feature

#112 Feat/show authed user name
  client/package-lock.json
  client/package.json
  client/src/components/HorizontalList/HorizontalList.tsx
  client/src/components/Navbar/Navbar.tsx
  client/src/pages/LoginDashboard/LoginDashboard.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/utils/storageHandler.ts
  server/src/route/auth-router.js
Labels: client, components, feature

#113 style: iphone lift nav bar
  client/src/components/Navbar/Navbar.tsx
Labels: client, components, enhancement

#116 404 리디렉트
  client/src/App.tsx
  client/src/pages/NotFoundDashboard/NotFoundDashboard.tsx
  client/src/pages/NotFoundDashboard/index.ts
  client/src/routes/PrivateRoute.tsx
Labels: client, components, feature

#117 Feature/client/category list section
  client/src/components/ProductCard/ProductCard.tsx
  client/src/components/ProductCard/ProductCardThumbnail.tsx
  client/src/components/VerticalList/ProductCardList.tsx
  client/src/components/VerticalList/VerticalList.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/CategoryListSection.tsx
  client/src/pages/MainDashboard/CategoryListSectionHeader.tsx
  client/src/utils/constants.ts
Labels: client, feature

#118 Feature/client/order history page
  client/src/App.tsx
  client/src/apis/graphqlQuery.ts
  client/src/index.css
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CartDashboard/CartDashboardOrderButton.tsx
  client/src/pages/HistoryDashboard/HistoryCard.tsx
  client/src/pages/HistoryDashboard/HistoryCardDetail.tsx
  client/src/pages/HistoryDashboard/HistoryDashboard.tsx
  client/src/pages/HistoryDashboard/index.ts
  client/src/pages/LikedProductDashboard/LikedProductDashboard.tsx
  client/src/utils/constants.ts
  client/src/utils/parser.ts
  server/src/dto/get-order-history-dto.js
  server/src/resolver/cart-resolver.js
  server/src/resolver/order-resolver.js
  server/src/resolver/product-resolver.js
  server/src/type.js
Labels: client, enhancement, feature

#120 hotfix: 신규 회원 가입 시 unauthorized 오류
  server/config/passport-config.js
Labels: bug, server

#121 Fix/client/carousel indicator bug
  client/src/components/CarouselBasic/CarouselBasic.tsx
  client/src/pages/HistoryDashboard/HistoryCard.tsx
  client/src/utils/constants.ts
Labels: bug, client

#122 상품 더 보기
  client/src/components/VerticalList/VerticalList.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/CategoryListSection.tsx
Labels: client, components, enhancement

#124 fix: 모바일 기기별로 indicator 올바르지 않게 표시되는 버그 수정
  client/src/components/CarouselBasic/CarouselBasic.tsx
  client/src/utils/constants.ts
Labels: bug, client

#126 Refactor/redirect to match
  client/src/apis/graphqlQuery.ts
  client/src/components/ProductCard/ProductCard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  server/src/resolver/product-resolver.js
  server/src/schema/query.js
Labels: bug, client, server

#128 Feature/client/product-stock
  client/src/App.tsx
  client/src/apis/graphqlQuery.ts
  client/src/components/Checkbox/Checkbox.tsx
  client/src/components/OrderButton/OrderButton.tsx
  client/src/components/OrderModal/OrderModal.tsx
  client/src/components/ProductCard/ProductCard.tsx
  client/src/components/ProductCard/ProductCardThumbnail.tsx
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CartDashboard/CartDashboardOrderButton.tsx
  client/src/pages/CartDashboard/OrderCard.tsx
  client/src/pages/LikedProductDashboard/LikedProductDashboard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  client/src/types/productCard.ts
  client/src/utils/constants.ts
  client/src/utils/mockData.ts
  server/src/resolver/cart-resolver.js
Labels: client, feature

#129 "중앙이미지" 공용 컴포넌트 제작 및 텅 페이지에 사용
  client/public/images/cart-tung.png
  client/public/images/tung.png
  client/src/components/CenteredImg/CenteredImg.tsx
  client/src/components/CenteredImg/index.ts
  client/src/components/ProductCard/ProductCardThumbnail.tsx
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CartDashboard/NotFound.tsx
  client/src/pages/LikedProductDashboard/LikedProductDashboard.tsx
  client/src/pages/SearchDashboard/SearchDashboard.tsx
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
Labels: client, components, feature

#133 Feature/client/search page enhancement
  client/src/pages/SearchDashboard/SearchDashboard.tsx
  client/src/utils/constants.ts
  server/config/elasticsearch-config.js
  server/http/es-request.http
  server/src/dto/get-auto-suggest-dto.js
  server/src/elasticsearch-controller.js
  server/src/route/route.js
  server/src/util/constants.js
Labels: client, feature, server

#135 상세 페이지 좋아요 버튼
  client/src/components/LikeButton/LikeButton.tsx
  client/src/components/LikeButton/index.ts
  client/src/components/ProductCard/ProductCard.tsx
  client/src/components/ProductCard/ProductCardThumbnail.tsx
  client/src/pages/CategoryDashboard/ProductBlock.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
Labels: bug, client, components, enhancement

#138 Feature/server/cart exception resolver
  client/src/apis/graphqlQuery.ts
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CartDashboard/CartDashboardOrderButton.tsx
  client/src/pages/HistoryDashboard/HistoryDashboard.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
  server/src/resolver/cart-resolver.js
  server/src/resolver/order-resolver.js
  server/src/resolver/product-resolver.js
  server/src/route/route.js
  server/src/schema/mutation.js
  server/src/type.js
Labels: bug, client, feature, server

#139 Feature/client/cart context
  client/public/images/cart-tung.png
  client/src/App.tsx
  client/src/apis/graphqlQuery.ts
  client/src/components/CenteredImg/CenteredImg.tsx
  client/src/components/Navbar/Navbar.tsx
  client/src/components/OrderModal/OrderModal.tsx
  client/src/components/ProductCard/ProductCardThumbnail.tsx
  client/src/context/AuthContext.tsx
  client/src/context/CartContext.tsx
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/LikedProductDashboard/LikedProductDashboard.tsx
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
  client/src/utils/constants.ts
  server/src/resolver/cart-resolver.js
  server/src/schema/query.js
Labels: client, feature

#141 Feat/client/oerder modal exit button
  client/src/components/OrderModal/OrderModal.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
Labels: client, components

#142 Feature/hotdeal product
  client/src/apis/cart.ts
  client/src/apis/graphqlQuery.ts
  client/src/apis/like.ts
  client/src/apis/order.ts
  client/src/apis/product.ts
  client/src/components/CarouselBasic/CarouselBasic.tsx
  client/src/components/LikeButton/LikeButton.tsx
  client/src/components/OrderModal/OrderModal.tsx
  client/src/components/ProductCard/ProductCard.tsx
  client/src/context/CartContext.tsx
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CartDashboard/CartDashboardHeader.tsx
  client/src/pages/CartDashboard/CartDashboardOrderList.tsx
  client/src/pages/CartDashboard/OrderCard.tsx
  client/src/pages/CategoryDashboard/ProductBlock.tsx
  client/src/pages/HistoryDashboard/HistoryCard.tsx
  client/src/pages/HistoryDashboard/HistoryCardDetail.tsx
  client/src/pages/HistoryDashboard/HistoryDashboard.tsx
  client/src/pages/LikedProductDashboard/LikedProductDashboard.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  server/src/resolver/product-resolver.js
  server/src/schema/query.js
Labels: client, feature, server

#143 Refactor/client/search
  client/src/components/Header/Header.tsx
  client/src/pages/SearchDashboard/AutoSuggestQueryList.tsx
  client/src/pages/SearchDashboard/SearchBarHeader.tsx
  client/src/pages/SearchDashboard/SearchDashboard.tsx
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
Labels: client, style

#147 Fix/client/cart context bug
  client/src/components/Confirm/Confirm.tsx
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CartDashboard/CartDashboardOrderButton.tsx
Labels: bug, client

#148 fix: 결제 확인 팝업에서 취소 선택시 결제되는 버그 수정
  client/src/pages/CartDashboard/CartDashboard.tsx
Labels: bug, client

#150 feat: Header 로고를 눌렀을 때, 화면 최상단으로 올라가는 기능 구현
  client/src/components/Header/Header.tsx
Labels: client, feature

#151 Refactor/client/history
  client/public/images/favicon.ico
  client/public/index.html
  client/src/components/Carousel/Carousel.tsx
  client/src/components/CenteredImg/CenteredImg.tsx
  client/src/components/Footer/Footer.spec.tsx
  client/src/components/Footer/Footer.tsx
  client/src/components/HorizontalList/HorizontalList.tsx
  client/src/components/HorizontalList/ProductCardList.tsx
  client/src/components/OrderButton/OrderButton.tsx
  client/src/components/OrderModal/OrderModal.tsx
  client/src/components/SkeletonCard/SkeletonCard.tsx
  client/src/components/SkeletonCard/index.ts
  client/src/components/VerticalList/ProductCardList.tsx
  client/src/components/VerticalList/VerticalList.tsx
  client/src/pages/CartDashboard/CartDashboard.tsx
  client/src/pages/CategoryDashboard/ProductBlock.tsx
  client/src/pages/HistoryDashboard/HistoryCard.tsx
  client/src/pages/HistoryDashboard/HistoryCardDetail.tsx
  client/src/pages/HistoryDashboard/HistoryDashboard.tsx
  client/src/pages/LikedProductDashboard/LikedProductDashboard.tsx
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  client/src/pages/SearchResultDashboard/SearchResultDashboard.tsx
  client/src/utils/constants.ts
Labels: client, style

#152 fix: README getting started 내용 추가
  README.md
Labels: documentation

#154 Feature/client/enhance ux
  client/src/components/Confirm/Confirm.tsx
  client/src/components/Navbar/Navbar.spec.tsx
  client/src/components/Navbar/Navbar.tsx
  client/src/components/OrderModal/OrderModal.tsx
  client/src/pages/ProductDetail/ProductDetail.tsx
  client/src/utils/constants.ts
Labels: client, enhancement

#155 fix: maindashboard refetch 로딩 버그 수정
  client/src/pages/MainDashboard/CategoryList.tsx
  client/src/pages/MainDashboard/MainDashboard.tsx
Labels: bug, client

#156 feat: 로그아웃 기능 및 UI 구현
  client/src/components/Header/Header.tsx
Labels: client, feature

#157 fix: 찜하기 기능 중복 체크 로직 추가
  server/src/resolver/like-resolver.js
Labels: bug, server
